<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>视频监控</title>
    <link rel="stylesheet" href="/static/css/redlivedemo.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <style>

    </style>
</head>

<body>
<div class="wrap">
    <!--
        监控页面的头部信息
        头像，学生姓名，班级
        切换学生的功能
     -->
    <div class="topbar">
        <div class="topbar-left">
            <div class="user-message">
                <!-- <img src="/public/static/img/user-image.png" alt=""> -->
                <img src="/static/img/redlivedemo-image.png" alt="">
                <div class="student-msg">
                    <p id="syudentname">{$video['name']}</p>
                    <span id="classroom">{$video['className']}</span>
                </div>
            </div>
        </div>
        <!--<div id="choose">-->
        <!--<span>切换学生</span>-->
        <!--<img src="/static/img/切换学生箭头.png" alt="">-->
        <!--</div>-->
        <!--<div id="down">-->

        <!--{if(!empty($studentList))}-->
        <!--{foreach $studentList as $k=>$v}-->
        <!--<select>-->
        <!--<option value="{$v['stu_num']}">{$v['name']}</option>-->
        <!--</select>-->
        <!--{/foreach}-->
        <!--{else /}-->

        <!--{/if}-->

        <!--</div>-->
        <div id="choose">
            <select id="pid" onchange="gradeChange()" >
                <option selected:disabled style="display: none;">切换学生</option>
                {if(!empty($studentList))}
                {foreach $studentList as $k=>$v}

                <option value="{$v['stu_num']}">{$v['name']}</option>

                {/foreach}
                {else /}

                {/if}

            </select>
        </div>
    </div>

    <div class="banner">

        <div class="video frist-video">
            <div class="video-topbar">
                <span class="style-font1">班级视频</span>
            </div>
            <video class="video-style" id="myVideo1" src="{$video['classVideo']}" controls preload="auto" autoplay="muted"
                   style="width: 90%;height: 200px;border-radius:5px;">
                <source id="source1" type="application/x-mpegURL" />
            </video>
        </div>

        <div class="video frist-video">
            <div class="video-topbar">
                <span class="style-font1">校门视频</span>
            </div>
            <video class="video-style" id="myVideo2" src="{$video['gateVideo']}" controls preload="auto" autoplay="muted"
                   style="width: 90%;height: 200px;border-radius:5px;">
                <source id="source2" type="application/x-mpegURL" />
            </video>
        </div>

        <div class="video frist-video">
            <div class="video-topbar">
                <span class="style-font1">操场视频</span>
            </div>
            <video class="video-style" id="myVideo3" src="{$video['playgroundVideo']}" controls preload="auto" autoplay="muted"
                   style="width: 90%;height: 200px;border-radius:5px;">
                <source id="source3" type="application/x-mpegURL" />
            </video>
        </div>

    </div>
</div>
<script src="/static/js/liveDemo.js"></script>
<script src="/static/js/jquery-3.5.1.js"></script>
</body>

</html>